.design-panel{
    width: 100%;
    min-height: 100%;
    min-width: 300px;
    border: 1px solid #bbb;
    padding: 20px;
    overflow: auto;
    text-align: center;

    background-color: #ffffff;
}

.grid-background{    
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-image: -webkit-linear-gradient(rgb(0, 0, 0, 0.3) 1px, transparent 1px),
                    -webkit-linear-gradient(0, rgb(0, 0, 0, 0.3) 1px, transparent 1px),
                    -webkit-linear-gradient(rgb(0, 0, 0, 0.1) 1px, transparent 1px),
                    -webkit-linear-gradient(0, rgb(0, 0, 0, 01) 1px, transparent 1px);
    background-image: -moz-linear-gradient(rgb(0, 0, 0, 0.3) 1px, transparent 1px),
                    -moz-linear-gradient(0, rgb(0, 0, 0, 0.3) 1px, transparent 1px),
                    -moz-linear-gradient(rgb(0, 0, 0, 0.1) 1px, transparent 1px),
                    -moz-linear-gradient(0, rgb(0, 0, 0, 0.1) 1px, transparent 1px);
    background-image: linear-gradient(rgb(0, 0, 0, 0.3) 1px, transparent 1px),
                    linear-gradient(90deg, rgb(0, 0, 0, 0.3) 1px, transparent 1px),
                    linear-gradient(rgb(0, 0, 0, 0.1) 1px, transparent 1px),
                    linear-gradient(90deg, rgb(0, 0, 0, 0.1) 1px, transparent 1px);
    -pie-background: linear-gradient(rgb(0, 0, 0, 0.3) 1px, transparent 1px) -2px -2px / 100px,
                    linear-gradient(90deg, rgb(0, 0, 0, 0.3) 2px, transparent 2px) -2px -2px / 100px,
                    linear-gradient(rgb(0, 0, 0, 0.1) 1px, transparent 1px) -1px -1px / 20px,
                    linear-gradient(90deg, rgb(0, 0, 0, 0.1) 1px, transparent 1px) -1px -1px / 20px,
                    #269;
}

a.close{
    float: right;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:5px;
    margin-left:5px;
    cursor: pointer;
}

a.btn-collapse{
    float: right;
    color: inherit !important;
    margin-top: 5px;
    cursor: pointer;
}

.card{
    display: inline-block;
    min-width: 300px;
    margin: 5px 0px;
}

.card-header{
    padding: 0.25rem 0.75rem;
    text-align: left;
}

.card-header > i{
    margin-right: 3px;
}

.card-body{
    text-align: center;
    padding: 0.4rem;
}

.drop-zone{
    padding: 10px;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;  
    display: table;
    width: 100%;
}

.drop-zone i{
    display: table-cell;
    vertical-align: middle;
}

.drop-zone:hover{
    background-color: #455a64;
    color: white;
}

.sequence-row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.condition-input{
    width: 100%;
}

.container-div{
    border: 1px solid #ddd;
    min-width: 200px;
    padding: 5px;
}

.column{
    padding: 5px !important;
    text-align: left;
}

.element-dragging{
    z-index: 9999;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.droppable-active-class{
    background-color: #718792;
}

.droppable-hover-class{
    background-color: #455a64;
    color: white;
}